.programe {
  padding-top: 120px;
  margin-bottom: 110px;
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  &_title {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding-bottom: 15px;

    border-bottom: 1px solid rgba(221, 224, 235, 0.25);

    cursor: pointer;
  }
}
